clear<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reader.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @reader.age %>
</p>

<h1>Listing first 5 comments for <%= @reader.name %></h1>

<% @comments.each do |comment| %>
  <h5><strong>Comment:</strong> <%= comment.comment %></h5>
<% end %>

<h3>New comment</h3>

<%= render 'comments/form' %>

<h1>Listing first 5 books of <%= @reader.name %></h1>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_reader_path(@reader) %> |
<%= link_to 'Back', readers_path %>
